[ Debug ]
debug=0;
log_to_screen=0;
debug_logfile=log.txt;
syslog=0;

[ Connection ]
listen_port=123;
site_ip=1.2.3.4;
site_port=123;
entry_list=;
connect_ip=;
listen_interface=eth0;
listen_ip=;
traffic_bnc=1;

[ Limit ]
day_limit=0;
week_limit=0;
month_limit=0;

[ SSL ]
cert_path=dsa.pem;
opt_dh_file=;
crypted_cert=0;
enforce_tls=1;
enforce_tls_fxp=0;
ssl_forward=1;
use_ssl_exclude=0;
sslexclude_list=;

[ Ident ]
use_ident=1;
enforce_ident=0;
no_idnt_cmd=0;

[ Relink ]
trytorelink=0;
relink_ip=1.2.3.4;
relink_port=21;
relink_user=anonymous;
relink_pass=a@b.de;
ssl_relink=0;

[ Admin ]
admin_list=hawk;
use_fxpfromsite_list=0;
fxp_fromsite_list=;
use_fxptosite_list=0;
fxp_tosite_list=;
cmd_prefix=e;
infocmd=info;
helpcmd=help;
admincmd=admin;
tositecmd=tosite;
fromsitecmd=fromsite;
sslexcludecmd=nossl;
reloadcmd=reload;
killcmd=kill;
usecommands=1;

[ Ftpd setup ]
server_string=220 FTP server ready.;
fake_serverstring=1;
send_traffic_info=1;
user_access_denied=access denied.;
user_login_success=logged in.;
site_closed=The server has been shut down, try again later.;
site_full=The site is full, try again later.;
show_connect_failmsg=1;
connectfailmsg=427 Connection failed!;

[ Forwarder ]
use_forwarder=0;
forwarder_sport=81;
forwarder_dport=80;
forwarder_ip=www.heise.de;

[ Advanced ]
add_to_passive_port=0;
port_range_start=28001;
port_range_end=30000;
use_port_range=1;
buffersize=4096;
pending=50;
connect_timeout=10;
ident_timeout=6;
read_write_timeout=15;
uid=1;
pidfile=yatb.pid;
retry_count=10;
ssl_ascii_cache=0;